{{!< default}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the page --}}

<article class="article {{post_class}}">
    <section class="gh-content gh-canvas">
    
    <h1 class="article-title">{{title}}</h1>
    
        {{> "all-tag-groups" page="1"}}
    </section>
</article>

{{/post}}
