em, i {
    color: #3030BF;
}

html.dark-mode em,
html.dark-mode i {
    color: #3030FF;
}

@media (prefers-color-scheme: dark) {
    html.auto-color em,
    html.auto-color i {
        color: #3030FF;
    }
}

div.details_area {
    font-size: 120%;
}

details details {
	margin-left: 30px;
}

details details details {
	margin-left: 60px;
}

details summary {
    font-size: 120%;
/*	margin-top: 10px;*/
    margin-bottom: 10px;
}

details {
    margin-bottom: 10px;
}

article table, article td, article th { border: 1px solid black; }

article th { min-width: 100px; padding: 0 10px 0 10px; }

article td { padding-left: 5px; }



p.tag-description {
    margin-bottom: 0.3em;
    font-size: 90%;
}


/* https://stackoverflow.com/questions/38078957/can-we-define-min-margin-and-max-margin-max-padding-and-min-padding-in-css */

/* override paragraph spacing to lower it for large screens */
.gh-content>*+* {
/*DEFAULT: margin-top: 4vmin;*/
    margin-top: min(1em, 4vmin);
/*    margin-top: 1em;*/
/*	margin-top: 0;*/
}


/* lower space before headers. there is still a lot of space for blockquotes */
.gh-content>[id]:not(:first-child) {
/* DEFAULT margin: 2em 0 0; */
margin: 1.5em 0 0;
/*margin: 0;*/
}

/* lower space before hr's and blockquotes*/
.gh-content > hr,
.gh-content > blockquote {
/* DEFAULT:    margin-top: 6vmin;*/
	margin-top: min(1.5em, 6vmin);
}
.gh-content > hr + *,
.gh-content > blockquote + * {
	/*  DEFAULT:  margin-top: 6vmin !important;*/
	margin-top: min(1.5em, 6vmin) !important;
}

/* lower space around mathjax */
mjx-container {
    margin: 0 !important;
}

/*.MathJax {
    margin: 0 !important;
}*/




/* Table of Contents */

/* https://github.com/tscanlin/tocbot */
/* https://forum.ghost.org/t/table-of-contents-tutorial-for-casper-version-4-simplified/22584 */
/* https://tscanlin.github.io/tocbot/ */


/* styling background of ToC */
div#toc {
/*    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
*/  
    border: 2px solid #111214;
/*    background-color: #fff;*/
    padding: 5px;
    z-index: 1;
    max-width: 500px;
    margin: 0;
    margin-bottom: 1.5em;
}


div#toc  ol {
    list-style-position: inside;
  /* Cancel out Ghost's default margin-bottom: 30px. */
    margin-bottom: 0;
    /* suppress list numbers. */
    list-style-type: disc;
    
    padding-right: 5px;
}

div#toc li {
    padding-left: 0px;
    margin-left: 0px;
}

div#toc aside.toc ol:first-child
{
    padding-left: 0px;
    list-style-type: none;
}

div#toc  ol {
    padding-right: 0px;
}

p.toc-title {
    font-weight: bold;
}

div#toc  a.is-active-link {
    font-weight: bold;
}

div#toc  li {
/* line height was big by default, this makes it smaller */
  line-height: 110%;
}

/* make ToC float on right side if big screen */
@media only screen and (min-width: 1450px) {
	div#toc  {
	  position: fixed;
	  top: 100px;
	  right: 10px;
	  max-width: 330px;
	}
}

@media (prefers-color-scheme: dark) {
    html div#toc {
/*        color: rgba(255, 255, 255, 0.75);*/
/*        background: var(--color-darkmode);*/
/*	    border: 2px solid 979797;*/


		/*		background-color: var(--color-darkmode);*/
		border: 2px solid rgba(255, 255, 255, 0.75);
    }
}




body div.site-header-content {
/* DEFAULT: padding: 18vmin 4vmin;*/
    padding: 4vmin 4vmin;
	

}

body.has-cover div.site-header-content {
	/*default min-height 560px*/
		min-height: 200px;
}

/*.has-cover .site-header-content {
    min-height: 560px;
    background-color: var(--ghost-accent-color);
    color: #fff;
}*/

/*body div.site-header-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
}*/


body .article {
/* DEFAULT: padding: 8vmin 0; */
    padding: min(2em, 8vmin) 0;
}

body .article-header {
	/* DEFAULT: padding: 0 0 6vmin 0; */
    padding: 0 0 min(1em, 6vmin) 0;
}



/* add left borders on nested blockquotes */
blockquote > blockquote {
	border-left: 0.3rem solid var(--ghost-accent-color);
	margin: 0;
}

/* within a blockquote, a paragraph or blockquote followed by a paragraph or blockquote should have a top margin on the following paragraph*/
blockquote p + p, blockquote blockquote + p, blockquote p + blockquote {
	margin-block-start: 1em;
}


/* alternative from https://forum.ghost.org/t/markdown-blockquotes-not-rendering-properly/31157/16
blockquote p:first-child {
    margin-top: 0;
}
blockquote p {
    margin: 1.5rem;
}
blockquote p:last-child {
    margin-bottom: 0;
}
*/